.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000;
  background-color: rgb(27, 140, 177); /* Add a background color */
  color: #ffffff; /* Change the text color to white for contrast */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space out the logo and navigation links */
  align-items: center; /* Align items vertically */
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px; /* Add some space between the logo and the site name */
}

.nav-links {
  display: flex; /* Use flexbox for layout */
}

.nav-item {
  margin-left: 20px;
   /* Add some space between navigation links */
   color: rgb(255, 255, 255);
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #209159;
  border-bottom-color: #209159;
}
