.viewbookings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .viewbooking {
    width: 80%;
    /* border: 1px solid #ccc; */
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 0 0 0.2rem rgba(186, 188, 189, 0.25);

  }
  h1{
    font-size: 14px;
  }

  .viewbooking-date-box{

    display: flex;
    justify-content: start;
    gap: 5rem;

  }
   
  .viewbooking-box-service-card{

    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    padding: 1rem ;
    margin-top: 1rem;
  }

  .viewbooking-box-service-card div h3{

    font-size: 14px;
  
  }
  .viewbooking-box-service-card div p{

    font-size: 12px;
  
  }
  .viewbooking-box-service-card div .price{

    font-size: 16px;
    font-weight: bold;
  
  }


  .viewbooking-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .viewbooking-card-header button{
    background-color: #6497e4;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    
  }